.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.question {
    margin-top: 20px;
    font-size: 20px;
}

.answers > label {
    display: block;
    margin-top: 10px;
}
